html {
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

body{
	margin: 0;
}

.masthead {
	background-image: url("../images/beetle-logo.svg"), url("../images/beetle-logo.svg"), url("../images/waves.png");
	background-repeat: no-repeat, no-repeat, repeat;
	background-size: 30px auto, 30px auto, 100px auto;
	overflow: hidden;
	text-align: center;
}


.bannerdirt {
	position: relative;
	padding: 0em;
	clear:both;
	margin-bottom: -4px;
}

header {
	position: relative;
}

h1 {
	color: #512200;
}

h2 {
	text-align: center;
	color: white;
	margin: 0;
}

li {
	text-decoration: none;
}

nav {

}

nav a:hover {
	opacity: 75%;
}

div {

}

.ant-beetle {
	float: left;
	width: 50%;
}

.ant-beetle a {
	display: inline-block;
	padding: 0.5em 0.75em;
	text-decoration: none;
	color: #fff;
	background-color: #a8ae98;
	border-radius: 10px;
	background-image: linear-gradient(to bottom, #6FC000, #388200) ;
}

.ant-beetle a:hover {
	background-image: linear-gradient(to bottom, #388200, #214D00)
}

.stag-beetle {
	float: right;
	width: 50%;
}

.dung-beetle {
	float: left;
	width: 50%;
}
.tortoise-beetle {
	float: left;
	width: 50%;
}

img {
	width: 100%;
}

.bannerdirt {

}

footer {
	background-image: url(".../images/beetle-logo.svg");
	background-color: rgba(81, 34, 0, 0.5);
	background-size: 20px auto;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 1em;
	clear: both;
}
