html {
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

body{
	margin: 0;
}

.masthead {
	background-image: url("../images/beetle-logo.svg"), url("../images/beetle-logo.svg"), url("../images/waves.png");
	background-repeat: no-repeat, no-repeat, repeat;
	background-size: 70px auto, 70px auto, 100px auto;
	overflow: hidden;
	text-align: center;
}

a {
	text-decoration: none;
}

.bannerdirt {
	position: relative;
	padding: 0em;
	margin-bottom: -4px;
}

nav ul {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	display: block;
}

h1 {
	color: #512200;
	font-size: 3em;
}

h2 {
	font-size: 2rem;
	padding: 1em 3em;
	text-align: center;
	color: white;
	margin: 0;
	position: absolute;
	bottom: 0%;
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
}

li {
	text-decoration: none;
}

nav {

}

nav a:hover {
	opacity: 75%;
}

.ant-beetle {
	float: left;
	width: 50%;
	position: relative;
	margin-bottom: -5px
}

.ant-beetle a {
	display: inline-block;
	padding: 0.3em ;
	width: 50%;
	text-align: center;
	font-size: 1.5em;
	color: white;
	background-color: #a8ae98;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, #6FC000, #388200);
	position: absolute;
	top: 73%;
	right: 20%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.ant-beetle a:hover {
	background-image: linear-gradient(to bottom, #388200, #214D00);
}

.stag-beetle {
	float: right;
	width: 50%;
	position: relative;
	margin-bottom: -4px
}
.stag-beetle a {
	display: inline-block;
	padding: 0.3em ;
	width: 50%;
	text-align: center;
	font-size: 1.5em;
	color: white;
	background-color: #a8ae98;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, #6FC000, #388200);
	position: absolute;
	top: 73%;
	right: 20%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.stag-beetle a:hover {
	background-image: linear-gradient(to bottom, #388200, #214D00);
}

.dung-beetle {
	float: left;
	width: 50%;
	position: relative;
	margin-bottom: -4px
}
.dung-beetle a {
	display: inline-block;
	padding: 0.3em ;
	width: 50%;
	text-align: center;
	font-size: 1.5em;
	color: white;
	background-color: #a8ae98;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, #6FC000, #388200);
	position: absolute;
	top: 73%;
	right: 20%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}
.dung-beetle a:hover {
	background-image: linear-gradient(to bottom, #388200, #214D00);

}

.tortoise-beetle {
	float: left;
	width: 50%;
	position: relative;
	margin-bottom: -4px
}
.tortoise-beetle a {
	display: inline-block;
	padding: 0.3em ;
	width: 50%;
	text-align: center;
	font-size: 1.5em;
	color: white;
	background-color: #a8ae98;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, #6FC000, #388200);
	position: absolute;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
	top: 73%;
	right: 20%;
}

.tortoise-beetle a:hover {
	background-image: linear-gradient(to bottom, #388200, #214D00);
}

img {
	width: 100%;

}

footer {
	background-image: url("../images/beetle-logo.svg");
	background-color: rgba(81, 34, 0, 0.5);
	background-size: 3em auto;
	background-position: center;
	background-repeat: no-repeat;
	padding: 2em 0;
	clear: both;
}
